@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(images/fundo-madeira.jpg);
    height: 100vh;
    width: 100vw;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

main {
    position: relative;
    height: 100vh;
}

main section#telefone {
    background-image: url(images/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 625px;
    width: 310px;
    
}

section#telefone iframe {
    height: 485px;
    width: 272px;
    position: relative;
    top: 73px;
    left: 20px;
}

/* 
Código antigo

height: 472px;
width: 268px;
position: relative;
top: 80px;
left: 22px;

*/

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img{
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    box-sizing: border-box; /* Para que as imagens não fiquem saltando */
}

section#redes-sociais img:hover {
    border: 3px solid white;
    transform: translate(-5px, -5px);
    transition: transform 0.3s; /* Está realizando o transform em 0.3s */
}