.cinza {
    background-color: rgb(217, 217, 217);
}
.verde {
    background-color: rgb(165, 234, 155);
}
.verde h1 {
    color: rgb(40, 97, 26);
}
.verde p {
    color: rgb(40, 97, 26);
}
.amarelo {
    background-color: rgb(242, 240, 216);
}
.amarelo h1 {
    color: rgb(191, 131, 78);
}
.amarelo p {
    color: rgb(191, 131, 78);
}