@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #90ee9098;
    --cor1: #5bc75bc4;
    --cor2: #69b369;
    --cor3: #3ebd3ed8;
    --cor4: #1a6e33;
    --cor5: #026302;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3ebd3ed8;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;
    text-align: center; 
    height: 150px;
    padding: 20px;
    box-shadow: 0px 10px 20px var(--cor5);
}

header > h1 {
    padding: 10px;
    
}

header > p {
    padding: 20px;
    width: 480px; /* Para deixar a linha do texto quebrada sem usa <br> */
    margin: auto;
}

nav {
    text-align: left;
}

nav > a {    
    font-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav > a:hover{
    color: green;
    background-color: white;
    border-radius: 10px;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 20px var(--cor5);
}

main h1 {
    font-family: idroid;
    color: green;
    font-size: 2em;
}

main h2 {
    font-family: idroid;
    color: green;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 10px;
    padding-left: 10px;
    width: 60%;
}

main h3 {
    background-color: var(--cor4);
    color: white;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
}

main p {
    padding: 15px 0px;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}

main strong {
    color: green;
}

main a {
    background-color: var(--cor0);
    color: green;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

main img {
    display: block; /* Elementos inline não são centralizados com margin: auto */
    margin: auto;
    width: 100%;
}

img.pequena {
    max-width: 350px;
}

#fundoiframe {
    background-color: green;
}

iframe {
    display: block;
    margin: auto;
    padding: 20px;
}

#fundo {
    background-color: var(--cor1);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    border-radius: 0px 0px 20px 20px;
}

ul {
    padding: 10px;
    display: flex; /* não sei se está certo*/
}

.listaesquerda { /* não sei se está certo*/
    
}

.listadireita { /* não sei se está certo*/
    padding-left: 55%;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}