@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    background-color: #3ebd3ed8;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #69b369, #026302);
    color: white;
    height: 150px;
    padding: 20px;
    box-shadow: 0px 10px 20px #026302;
}

header > h1 {
    padding: 10px;
}

header > p {
    padding: 20px;
}

nav {
    text-align: left;
}

nav > a {    
    font-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav > a:hover{
    color: green;
    background-color: white;
    border-radius: 10px;
}

main {
    background-color: white;
    text-align: justify;
    padding: 20px;
    width: 800px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 20px #026302;
}

p {
    padding: 15px 0px 20px 0px;
    text-indent: 20px;
}

main > h1 {
    font-family: idroid;
    color: green;
}

main > h2 {
    font-family: idroid;
    color: green;
    background-image: linear-gradient(to right, #3ebd3e88, #ffffff);
    border-radius: 10px;
    padding-left: 10px;
}

main > h3 {
    background-color: #1a6e33;
    color: white;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
}

strong {
    color: green;
}

p > a {
    background-color: #90ee9098;
    color: green;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    display: block; /* Elementos inline não são centralizados com margin: auto */
    margin: auto;
}

#fundoiframe {
    background-color: green;
}

iframe {
    display: block;
    margin: auto;
    padding: 20px;
}

#fundo {
    background-color: #5bc75bc4;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    border-radius: 0px 0px 20px 20px;
}

ul {
    padding-bottom: 10px;
    display: flex; /* não sei se está certo*/
}

.listaesquerda { /* não sei se está certo*/
    
}

.listadireita { /* não sei se está certo*/
    padding-left: 55%;
}

footer {
    background-color: #008035;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
